<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      
        </ion-buttons>
        <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Icondo</ion-title>
      </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item button detail routerLink="/app/predio/info" routerDirection="forward">
      <ion-icon name="cog" slot="start"></ion-icon>
      Meu perfil
    </ion-item>
    <ion-item button detail routerLink="/app/predio/garagem" routerDirection="forward">
      <ion-icon name="car" slot="start"></ion-icon>
      Garagem
    </ion-item>
    <ion-item button detail routerLink="/app/predio/salao" routerDirection="forward">
      <ion-icon name="flag" slot="start"></ion-icon>
      Agendar Salão de Festas
    </ion-item>
    <ion-item button (click)="logout()" color="danger">
      <ion-icon name="flag" slot="start"></ion-icon>
      Desconectar
    </ion-item>
  </ion-list>
  <ion-col text-center>
    Your Registered EmailID : {{userEmail}}
  </ion-col>
  <ion-card id="predioPage-card21">
    <ion-list>
      <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
        <i class="icon ion-image" style="font-size:64px;color:#888;vertical-align:middle;"></i>
      </div>
    </ion-list>
  </ion-card>
</ion-content>
