<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>

    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Icondo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card *ngFor="let user of (users | async)" class="ion-user-card" >
    <ion-card-header >
      <ion-card-subtitle class="ion-card-content-user">Condomínio flores</ion-card-subtitle>
      <ion-card-title class="ion-card-content-user">{{ user.name }}</ion-card-title >
    </ion-card-header>
    <ion-card-content class="ion-card-content-user">
      Apartamento: {{ user.apt }}
      <div></div>
      Vaga no estacionamento: {{ user.garage }}
    </ion-card-content>
    
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Token</ion-label>
      <ion-input [(ngModel)]="localToken"></ion-input>
    </ion-item>
    <ion-item button detail routerLink="/app/predio/garagem" routerDirection="forward">
      <ion-icon name="car" slot="start"></ion-icon>
      Garagem
    </ion-item>
    <ion-item button detail routerLink="/app/predio/salao" routerDirection="forward">
      <ion-icon name="flag" slot="start"></ion-icon>
      Agendar Salão de Festas
    </ion-item>
    <ion-item button (click)="logout()" color="danger">
      <ion-icon name="alert" slot="start"></ion-icon>
      Desconectar
    </ion-item>
  </ion-list>

  <ion-col class="ion-text-center">
    {{userEmail}}
  </ion-col>
  <!-- <ion-list>
    <ion-item button [routerLink]="['/perfil', user.id]" *ngFor="let user of (users | async)">
      User Name: {{ user.name }}
    </ion-item>
    <ion-item button [routerLink]="['/perfil', user.id]" *ngFor="let user of (users | async)">
      User Apt: {{ user.apt }}
    </ion-item>
    <ion-item button [routerLink]="['/perfil', user.id]" *ngFor="let user of (users | async)">
      User Type: {{ user.type }}
    </ion-item>
    <ion-item button [routerLink]="['/perfil', user.id]" *ngFor="let user of (users | async)">
      User Email: {{ user.email }}
    </ion-item>
  </ion-list> -->

</ion-content>