<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/predio"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Visao Garagem
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="page9">
  <ion-list id="visaoGaragem-list10">
    <ion-item-divider color="light" id="visaoGaragem-list-item-divider1">
      Prédio B1
    </ion-item-divider>
    <ion-item color="none" on-click="goToGaragemDetalhe()" id="visaoGaragem-list-item34">
      1
      <ion-icon name="add" item-right></ion-icon>
    </ion-item>
    <ion-item color="none" id="visaoGaragem-list-item35">
      2
      <ion-icon name="add" item-right></ion-icon>
    </ion-item>
    <ion-item color="danger" id="visaoGaragem-list-item36">
      3 (NÃO DISPONÍVEL)
    </ion-item>
    <ion-item-divider color="light" id="visaoGaragem-list-item-divider2">
      Prédio B2
    </ion-item-divider>
  </ion-list>
  <ion-list id="visaoGaragem-list12">
    <ion-item color="none" id="visaoGaragem-list-item40">
      4
      <ion-icon name="add" item-right></ion-icon>
    </ion-item>
    <ion-item color="danger" id="visaoGaragem-list-item41">
      5 (NÃO DISPONÍVEL)
    </ion-item>
    <ion-item color="none" id="visaoGaragem-list-item42">
      6
      <ion-icon name="add" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <h3 id="visaoGaragem-heading5" style="color:#000000;">
    (No futuro criar mapa interativo)
  </h3>
</ion-content>