<ion-header>
  <ion-toolbar color='primary'>

    <ion-title>
      Portaria
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding id="page3">
  <h1 id="portariaPage-heading1" style="color:#000000;">
    Ramal 332
  </h1>
  <ion-list id="portariaPage-list3">
    <ion-item color="none" id="portariaPage-list-item19">
      <ion-icon name="information" slot="start"></ion-icon>
      Portarias
    </ion-item>
    <ion-list>
      <ion-item button [routerLink]="['/perfil', portaria.id]" *ngFor="let portaria of (portarias | async)">
        {{ portaria.name }}
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>