<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>
      Avisos Page
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding id="page4">
  <div id="avisosPage-container2">
    <ion-list id="avisosPage-list4">
      <ion-item color="none" id="avisosPage-list-item22">
        Avisos
      </ion-item>
    </ion-list>
  </div>
  <div id="avisosPage-container3">
    <div id="avisosPage-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        Hoje teremos reunião para escolha das vagas na garagem as 19 h
      </p>
    </div>
  </div>
  <ion-list>
    <ion-item button [routerLink]="['/perfil', aviso.id]" *ngFor="let aviso of (avisos | async)">
      {{ aviso.name }}
    </ion-item>
  </ion-list>
  <ion-button color="primary" detail routerLink="/app/avisos/novo" routerDirection="forward">
    Informar ocorrido
  </ion-button>
</ion-content>