<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>
      Avisos Page
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item color="none">
    Avisos
  </ion-item>
  <ion-button color="primary" detail routerLink="/app/avisos/novo" routerDirection="forward">
    Informar acontecimentos
  </ion-button>
  <ion-list>
    <ion-card *ngFor="let aviso of (avisos | async)">
      <ion-card-header>
        <ion-card-subtitle>{{aviso.category}}</ion-card-subtitle>
        <ion-card-title>{{aviso.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{aviso.content}}
      </ion-card-content>
    </ion-card>
  </ion-list>

  
</ion-content>