<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/avisos"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Informar Ocorrido
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding id="page5">
  <h3 id="ocorridoPage-heading2" style="color:#000000;">
    Caso necessite de ajuda entre em contato com o síndico - Ramal 4422
  </h3>
  <form id="ocorridoPage-form1">
    <ion-item id="ocorridoPage-input1">
      <ion-input type="text" placeholder="Escreva Aqui"></ion-input>
    </ion-item>
    <ion-item id="ocorridoPage-checkbox1">
      <ion-label>
        Não informar meu nome
      </ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </form>
  <div id="ocorridoPage-container10"></div>
  <div id="ocorridoPage-container11"></div>
  <ion-button color="primary" >
    Enviar
  </ion-button>
</ion-content>