<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngIf="condominioIsTrue == false">
      <ion-label position="floating" color="primary">Código do condomínio</ion-label>
      <ion-input [(ngModel)]="code"></ion-input>
    </ion-item>
      <ion-button (click)="checkCode()">Confirmar</ion-button>
    <ion-item *ngIf="condominioIsTrue == true">
      <h3>{{condominio.name}}</h3>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="condominioIsTrue == true">
    <ion-item>
      <ion-label position="floating" color="primary">Nome</ion-label>
      <ion-input [(ngModel)]="user.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Apartamento</ion-label>
      <ion-input [(ngModel)]="user.apt"></ion-input>
    </ion-item>
    <form class="form" [formGroup]="validations_form" (ngSubmit)="saveOnDB(validations_form.value)">

      <ion-item>
        <ion-label position="floating" color="primary">Email</ion-label>
        <ion-input type="text" formControlName="email" name="email"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">Senha</ion-label>
        <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
      </ion-item>

      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>


      <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Criar Conta</ion-button>
      <label class="error-message">{{errorMessage}}</label>
      <label class="success-message">{{successMessage}}</label>
    </form>
  </ion-list>
  <ion-list>
    <ion-item position="floating" color="primary">Já tem uma conta?</ion-item>
    <ion-button (click)="goLoginPage()">Faça o login.</ion-button>
  </ion-list>
</ion-content>