<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/predio"></ion-back-button>
    </ion-buttons>
    <ion-title>
     Minhas Informações
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding id="page8">
  <img src="assets/img/jpuD6CpTGK5pkbZSvWQP_Fotovitor.jpeg"
    style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
  <h1 id="perfilPage-heading3" style="color:#000000;">
    (Nome)
  </h1>
  <div id="perfilPage-markdown17" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      (Apt) (Vaga) (Ramal)
    </p>
  </div>
</ion-content>