<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/avisos"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Portaria
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="page5">
  <h3 id="ocorridoPage-heading2" style="color:#000000;">
    Caso necessite de ajuda entre em contato com o síndico - Ramal 4422
  </h3>

  <ion-item>
    <ion-label position="stacked">Escrever manualmente Apartamento</ion-label>
    <ion-input [(ngModel)]="portaria.apt" placeholder="Escreva Aqui"></ion-input>
  </ion-item>

  <ion-list>
    <ion-label position="stacked">Apartamentos disponíveis</ion-label>
    <ion-select [(ngModel)]="portaria.apt">
      <ion-label *ngFor="let user of (userslist | async)">{{user.name}}</ion-label>
      <ion-select-option *ngFor="let user of (userslist | async)">{{user.apt}}</ion-select-option>
    </ion-select>
  </ion-list>

  


  <ion-item *ngIf="custom == false">
    <ion-label>Tipo de aviso</ion-label>
  </ion-item>


  <ion-item style="width: 200%;" *ngIf="portaria.custom == false">
    <ion-select value="Encomenda" [(ngModel)]="portaria.content">
      <ion-select-option value="Encomenda">
        <img [src]="' ../assets/img/good-alert.png '" style="width: 2%; height: 2%;" />
        Encomenda
      
      </ion-select-option>
      <ion-select-option value="Carta">Carta</ion-select-option>
      <ion-select-option value="Visita">Visita</ion-select-option>
      <ion-select-option value="Alimentos">Alimentos</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="portaria.custom == true">
    <ion-label position="stacked">Aviso</ion-label>
    <ion-input [(ngModel)]="portaria.content" placeholder="Escreva Aqui" value="Encomenda"></ion-input>
  </ion-item>
  <ion-item *ngIf="portaria.content == 'Visita'">
    <ion-label position="stacked">Nome da visita</ion-label>
    <ion-input [(ngModel)]="portaria.notes" placeholder="Escreva Aqui" value=""></ion-input>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label>Outros (Escreva o aviso)</ion-label>
      <ion-checkbox [(ngModel)]="portaria.custom"></ion-checkbox>

    </ion-item>
  </ion-list>

  <ion-item *ngIf="portaria.custom == 'debug'">
    <ion-label position="stacked">Aviso</ion-label>
    <ion-input [(ngModel)]="portaria.content" placeholder="Escreva Aqui"></ion-input>
  </ion-item>

  <ion-toolbar color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="createAviso()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Enviar
    </ion-button>
  </ion-toolbar>
</ion-content>